<?xml version="1.0" encoding="utf-8"?>
<!--IMPORTANT! The config file must be named exactly NuGet.Config otherwise Visual Studio might generate another one 
or the Linux pipeline doesn't recognize it as the effective config.-->
<configuration>
  <packageSources>
    <add key="test_local" value="C:\git\collaboration\infrastructure.versioning\AppGates.Build.Versioning\pack" />
  </packageSources>
</configuration>